<h1>The given dataset contains ad budgets for different media channels and the corresponding ad sales of XYZ firm. Evaluate the dataset to:<h1>
<h3>
<ol><li>Find the features or media channels used by the firm</li>
<li>Find the sales figures for each channel</li>
<li>Create a model  to predict the sales outcome</li>
<li>Split as training and testing datasets for the model</li>
<li>Calculate the Mean Square Error (MSE)</li><ol>
    <h3>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [4]:
media_df=pd.read_csv('G:\\My Drive\\Assignments\\Media Chanel\\Advertising Budget and Sales.csv',index_col=0)

In [5]:
media_df

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

In [7]:
media_df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

# splitting data into features and target

In [12]:
X_features=media_df[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]
Y_target=media_df[["Sales ($)"]]

In [13]:
X_features

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [14]:
Y_target

     Sales ($)
1         22.1
2         10.4
3          9.3
4         18.5
5         12.9
..         ...
196        7.6
197        9.7
198       12.8
199       25.5
200       13.4

[200 rows x 1 columns]

# Split data in to train and test

In [ ]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(X_features,Y_target,test_size=0.25)

In [31]:
X_train.shape

(150, 3)

In [32]:
X_test.shape

(50, 3)

# Fit data into linear model and get predictions

In [33]:
linereg=LinearRegression()

In [34]:
linereg.fit(X_features,Y_target)

LinearRegression()

In [35]:
linereg.score(X_features,Y_target)

0.8972106381789522

In [ ]:
#Y_target~0.8972106381789522*X_features

In [38]:
print(linereg.coef_)

[[ 0.04576465  0.18853002 -0.00103749]]

In [39]:
print(linereg.intercept_)

[2.93888937]

In [41]:
Y_predict=linereg.predict(X_test)

In [43]:
Y_predict.ravel()

array([20.80301059, 23.24248685, 15.16152314, 23.76732149,  9.12734958,
       17.9415563 , 13.18867186, 10.38419866, 16.01099722, 11.45348627,
       10.48212385, 18.48695797,  8.42401933,  9.99922965, 10.62693815,
       12.12295317, 18.86426829, 19.15639616, 21.59580326,  9.90298206,
       16.5459329 ,  7.88410649,  6.5707774 , 11.71127101, 10.36684881,
       13.81190223, 14.98951429, 12.1620464 , 17.05167344,  9.90868103,
       21.7226299 ,  8.16531236, 23.26086103, 18.10076728,  5.37034248,
       11.44592364, 17.07644223,  9.67530328, 22.89067208, 14.94678206,
       17.32931197, 12.30767078, 13.21069202,  8.44915012, 12.55084872,
        7.0322992 , 18.36720534,  9.76842795, 14.41010605,  3.72734086])

# Calculate the metrics related to error

In [82]:
mean_squared_error=np.mean((Y_predict-np.array(Y_test))**2)

In [83]:
mean_squared_error

2.5964760288864506

In [89]:
print ('True',Y_test.values[0:10])

True [[22.6]
 [23.8]
 [14.9]
 [25.5]
 [10.6]
 [15. ]
 [12.9]
 [ 7.3]
 [11.8]
 [ 9.5]]

In [91]:
print ('Predicted',Y_predict[0:10])

Predicted [[20.80301059]
 [23.24248685]
 [15.16152314]
 [23.76732149]
 [ 9.12734958]
 [17.9415563 ]
 [13.18867186]
 [10.38419866]
 [16.01099722]
 [11.45348627]]