<h1>A dataset is given for the Fire Department of New York City. Analyze the dataset to determine:<h1>

<h3><ul><li>The total number of fire department facilities in New York city</li>
<li>The number of fire department facilities in each borough</li>
<li>The facility names in Manhattan</li><ul><h3>

In [1]:
import pandas as pd
import numpy as np

In [11]:
fire_df=pd.read_csv('G:\\My Drive\\Assignments\\NY_Firedept\\FDNY.csv')

In [12]:
fire_df = fire_df[1:]

In [13]:
fire_df

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [ ]:
#218 observations

In [22]:
fire_df.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [24]:
fire_df.groupby(['Borough'])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000298105DC670>

In [25]:
# names in each borough
fire_df.groupby(['Borough']).size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

In [30]:
#check Facility names In Manhattan
fire_df.groupby(['Borough'])[['FacilityName']].get_group('Manhattan')

                                         FacilityName
1                                  Engine 4/Ladder 15
2                                 Engine 10/Ladder 10
3                                            Engine 6
4   Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
5                                            Ladder 8
6                                   Engine 9/Ladder 6
7                     Engine 15/Ladder 18/Battalion 4
8                                 Engine 28/Ladder 11
9                                            Engine 5
10                                          Engine 55
11                               Ladder 20/Division 1
12                     Engine 24/Ladder 5/Battalion 2
13                                 Engine 33/Ladder 9
14                               Ladder 3/Battalion 6
15                                           Squad 18
16                                Engine 34/Ladder 21
17                                          Engine 26
18                     Engine 3/Ladder 12/Battalion 7
19                                 Engine 1/Ladder 24
20                                          Engine 14
21                              Engine 16 / Ladder 7
22                                          Engine 21
23                     Engine 54/Ladder 4/Battalion 9
24                                          Engine 23
25                                           Rescue 1
26                                Engine 40/Ladder 35
27             Ladder 25/District Office 4/Division 3
28                                          Engine 74
29                                          Engine 65
30                  Engine 8 / Ladder 2 / Battalion 8
31                                Engine 39/Ladder 16
32                                          Engine 44
33                   Engine 22/Ladder 13/Battalion 10
34                                Engine 58/Ladder 26
35                                Engine 53/Ladder 43
36                                          Engine 91
37                                Engine 35/Ladder 14
38                   Engine 76/Ladder 22/Battalion 11
39                                          Engine 47
40                                Engine 59/Ladder 30
41                                Engine 37/Ladder 40
42                   Engine 69/Ladder 28/Battalion 16
43                                Engine 80/Ladder 23
44                                Engine 84/Ladder 34
45                                          Engine 67
46                   Engine 93/Ladder 45/Battalion 13
47                                Engine 95/Ladder 36
48                                           Marine 1