<h2>Evaluate the dataset of the Summer Olympics,London 2012 to:<h2>
<h4><ol>
<li>Find and print the name of the country that won maximum gold medals</li>
<li>Find and print the countries who won more than 20 gold medals</li>
<li>Print the medal tally</li>
<li>Print each country name with the corresponding number of gold medals</li> and
<li>Print each country's name with the total number of medals won</li></ol><h4>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [9]:
df=pd.read_excel('D:\\Data science with Python\\Assignments\\Lesson 5 - 2\\Olympic 2012 Medal Tally\\Olympic 2012 Medal Tally.xlsx')

In [10]:
olympic_data=np.array(df);olympic_data

array([[nan, 'Country', 'Country Code', 'Year', 'Medal Tally', nan, nan],
       [nan, nan, nan, nan, 'Gold', 'Silver', 'Bronze'],
       [nan, 'Great Britain', 'GBR', 2012, 29, 17, 19],
       [nan, 'China ', 'CHN', 2012, 38, 28, 22],
       [nan, 'Russia', 'RUS', 2012, 24, 25, 32],
       [nan, 'United States', 'US', 2012, 46, 28, 29],
       [nan, 'Korea', 'KOR', 2012, 13, 8, 7],
       [nan, 'Japan', 'JPN', 2012, 7, 14, 17],
       [nan, 'Germany', 'GER', 2012, 11, 11, 14]], dtype=object)

In [15]:
olympic_data1=olympic_data[2:9,1:7];olympic_data1

array([['Great Britain', 'GBR', 2012, 29, 17, 19],
       ['China ', 'CHN', 2012, 38, 28, 22],
       ['Russia', 'RUS', 2012, 24, 25, 32],
       ['United States', 'US', 2012, 46, 28, 29],
       ['Korea', 'KOR', 2012, 13, 8, 7],
       ['Japan', 'JPN', 2012, 7, 14, 17],
       ['Germany', 'GER', 2012, 11, 11, 14]], dtype=object)

In [24]:
countries=olympic_data1[:,0:1];countries1=countries.ravel();countries1

array(['Great Britain', 'China ', 'Russia', 'United States', 'Korea',
       'Japan', 'Germany'], dtype=object)

In [46]:
gold=olympic_data1[:,3:4];gold1=gold.ravel()

In [28]:
silver=olympic_data1[:,4:5];silver1=silver.ravel()

In [29]:
bronze=olympic_data1[:,5:6];bronze1=bronze.ravel()

In [ ]:
# print the name of the country that won maximum gold medals

In [47]:
index_max_gold=gold1.argmax();index_max_gold

3

In [49]:
country_with_max_gold=countries1[3];country_with_max_gold

'United States'

In [ ]:
# print the countries who won more than 20 gold medals

In [52]:
medaltally_exceeding20=gold1>20;medaltally_exceeding20

array([ True,  True,  True,  True, False, False, False])

In [53]:
country_with_morethan20_gold=countries1[0:3];country_with_morethan20_gold

array(['Great Britain', 'China ', 'Russia'], dtype=object)

In [61]:
print ('countries with more than 20 gold medals are:',country_with_morethan20_gold[:])

countries with more than 20 gold medals are: ['Great Britain' 'China ' 'Russia']

In [ ]:
#Print the medal tally

In [80]:
medal_tally=np.vstack((countries1,gold1,silver1,bronze1))

In [81]:
medal_tally1=medal_tally.transpose()

In [82]:
medal_tally1

array([['Great Britain', 29, 17, 19],
       ['China ', 38, 28, 22],
       ['Russia', 24, 25, 32],
       ['United States', 46, 28, 29],
       ['Korea', 13, 8, 7],
       ['Japan', 7, 14, 17],
       ['Germany', 11, 11, 14]], dtype=object)

In [ ]:
#Print each country name with the corresponding number of gold medals

In [83]:
for i in range(len(countries1)):
    country=countries1[i]
    gold=gold1[i]
    print(country,'has won',gold,'golds')

Great Britain has won 29 golds
China  has won 38 golds
Russia has won 24 golds
United States has won 46 golds
Korea has won 13 golds
Japan has won 7 golds
Germany has won 11 golds

In [ ]:
#Print each country's name with the total number of medals won

In [84]:
for i in range(len(countries1)):
    country=countries1[i]
    medals=gold1[i]+silver1[i]+bronze1[i]
    print(country,'has won',medals,'medals')

Great Britain has won 65 medals
China  has won 88 medals
Russia has won 81 medals
United States has won 103 medals
Korea has won 28 medals
Japan has won 38 medals
Germany has won 36 medals