<h2>Analyze the Sentiment dataset using NLP to:<h2>
<h3>
<ol><li>View the observations</li>
<li>Verify the length of the messages and add it as a new column</li>
<li>Apply a transformer and fit the data in the bag of words</li>
<li>Print the shape for the transformer</li>
<li>Check the model for predicted and expected values.</li><ol>
    <h3>

In [49]:
import pandas as pd
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\FB\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [17]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [34]:
sentiment_df= pd.read_csv('G:\\My Drive\\Local_PC\\Document_wordNLP\\imdb_labelled.txt',sep='\t',names=['comments','labels'])

In [35]:
sentiment_df

                                              comments  labels
0    A very, very, very slow-moving, aimless movie ...       0
1    Not sure who was more lost - the flat characte...       0
2    Attempting artiness with black & white and cle...       0
3         Very little music or anything to speak of.         0
4    The best scene in the movie was when Gerardo i...       1
..                                                 ...     ...
743  I just got bored watching Jessice Lange take h...       0
744  Unfortunately, any virtue in this film's produ...       0
745                   In a word, it is embarrassing.         0
746                               Exceptionally bad!         0
747  All in all its an insult to one's intelligence...       0

[748 rows x 2 columns]

In [24]:
sentiment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   columns  748 non-null    object
 1   labels   748 non-null    int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [36]:
sentiment_df.groupby('labels').describe()

       comments
          count unique                 top freq
labels
0           362    361  Not recommended.      2
1           386    384             10/10      2

# View messages Length

In [38]:
sentiment_df['length']=sentiment_df['comments'].apply(len)

In [39]:
sentiment_df

                                              comments  labels  length
0    A very, very, very slow-moving, aimless movie ...       0      87
1    Not sure who was more lost - the flat characte...       0      99
2    Attempting artiness with black & white and cle...       0     188
3         Very little music or anything to speak of.         0      44
4    The best scene in the movie was when Gerardo i...       1     108
..                                                 ...     ...     ...
743  I just got bored watching Jessice Lange take h...       0      63
744  Unfortunately, any virtue in this film's produ...       0      92
745                   In a word, it is embarrassing.         0      32
746                               Exceptionally bad!         0      20
747  All in all its an insult to one's intelligence...       0      75

[748 rows x 3 columns]

# Fit the data

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
# removing punctuation and stop words
def fun(message):
    no_punctuation=[char for char in message if char not in string.punctuation ]
    no_punctuation=''.join (no_punctuation)
    return[word for word in no_punctuation.split()  if word.lower() not in stopwords.words('english')]

In [57]:
# import bag of words for vector conversion
import string
bag_of_words=CountVectorizer(analyzer=fun).fit(sentiment_df['comments'])

In [60]:
bag_of_words_mod=bag_of_words.transform(sentiment_df['comments'])

In [75]:
# tf idf class of transformer
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_xr= TfidfTransformer().fit(bag_of_words_mod)

In [76]:
comment_tfidf=tfidf_xr.transform(bag_of_words_mod)

In [78]:
print(comment_tfidf)

  (0, 3250)	0.3816637284563236
  (0, 2723)	0.4241108183752289
  (0, 2153)	0.16990858097983952
  (0, 2066)	0.3255517277463126
  (0, 1377)	0.4241108183752289
  (0, 1350)	0.4241108183752289
  (0, 808)	0.4241108183752289
  (1, 3143)	0.38182983407543575
  (1, 2862)	0.3649826770903546
  (1, 2183)	0.40557456821911814
  (1, 2037)	0.3519150069113966
  (1, 1741)	0.3322106139919209
  (1, 1608)	0.38182983407543575
  (1, 1068)	0.24506626208613558
  (1, 889)	0.3412379429466722
  (2, 3188)	0.22572572993058948
  (2, 2545)	0.24260734282176902
  (2, 2368)	0.23618925147009165
  (2, 2353)	0.18318909601134087
  (2, 2206)	0.2883482635666443
  (2, 2153)	0.11551896855237308
  (2, 2013)	0.23062964785925286
  (2, 1468)	0.17700960233455035
  (2, 1334)	0.23618925147009165
  (2, 1111)	0.25019833371584044
  :	:
  (743, 3164)	0.29410031767318934
  (743, 2883)	0.35284500604788344
  (743, 1712)	0.3372134677881701
  (743, 1119)	0.43076577011360223
  (743, 982)	0.37377328571751295
  (743, 421)	0.40554619400837655
  (743, 389)	0.43076577011360223
  (744, 3215)	0.2915007634862201
  (744, 3125)	0.421858631684885
  (744, 2610)	0.2847256754401927
  (744, 2495)	0.421858631684885
  (744, 2413)	0.3660446066352257
  (744, 2037)	0.3660446066352257
  (744, 1587)	0.27579561678492714
  (744, 702)	0.3660446066352257
  (745, 3212)	0.7071067811865476
  (745, 1418)	0.7071067811865476
  (746, 911)	0.47387840560516153
  (746, 254)	0.8805902887842393
  (747, 3158)	0.34846129157697814
  (747, 2247)	0.44956595692446444
  (747, 2135)	0.4017731163705988
  (747, 1895)	0.4143442777887941
  (747, 1891)	0.4143442777887941
  (747, 1822)	0.4143442777887941

In [88]:
# Chosing naive bayes model for sentiment analysis
from sklearn.naive_bayes import MultinomialNB

In [84]:
sentiment_model=MultinomialNB().fit(comment_tfidf,sentiment_df['labels'])

In [120]:
# chosing a random sample for comparision on model data
comment=sentiment_df['comments'][0]
bag_of_words_sample=bag_of_words.transform([comment])
tfidf_sample=tfidf_xr.transform(bag_of_words_sample)

In [121]:
print ('The value for sentiment on obs 1=', sentiment_df.loc[0,'labels'])
print ('The value for sentiment prediction on obs 1=',sentiment_model.predict(tfidf_sample)[0])

The value for sentiment on obs 1= 0
The value for sentiment prediction on obs 1= 0